@import url("https://use.typekit.net/gld0tkk.css");
input[type=text] {
  min-width: 8ch;
  max-width: 20ch;
  margin: 1px;
  padding: 3px 3px 3px 6px;
  border: 1px dashed #370239;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

input[type=number] {
  min-width: 3ch;
  max-width: 6ch;
  margin: 1px;
  padding: 3px 3px 3px 6px;
  border: 1px dashed #370239;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

section {
  font-family: "nasalization", sans-serif;
  margin: 1px;
  padding: 1px;
}

main {
  font-family: "nasalization", sans-serif;
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
}

body {
  font-family: "nasalization", sans-serif;
  background-image: url("../artwork/bg-canvas.webp");
  background-size: auto auto;
  background-attachment: local;
  background-repeat: repeat;
  background-origin: border-box;
  background-clip: border-box;
}

header {
  margin: 1px;
  padding: 1px;
}

footer {
  margin: 1px;
  padding: 1px;
}

button {
  font-family: "nasalization", sans-serif;
}

.window-app {
  font-family: "nasalization", sans-serif;
  margin: 1px;
  padding: 1px;
}

.window-content {
  font-family: "nasalization", sans-serif;
  padding: 1px;
  margin: 1px;
}

.window-app .window-content {
  background-image: url("../artwork/background.webp");
  background-size: auto auto;
  background-attachment: local;
  background-repeat: repeat;
  background-origin: border-box;
  background-clip: border-box;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.metanthropes {
  padding: 6px;
  margin: 6px;
}
.metanthropes .layout-container-grid3x4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 6px;
       column-gap: 6px;
  row-gap: 3px;
  padding: 6px;
  margin: 6px;
  overflow: hidden;
}
.metanthropes .layout-container-grid3x4-cs {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 3px;
       column-gap: 3px;
  row-gap: 3px;
  padding: 3px;
  margin: 3px;
  overflow: hidden;
}
.metanthropes .layout-container-grid3x5-cs {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr;
  -moz-column-gap: 3px;
       column-gap: 3px;
  row-gap: 3px;
  padding: 3px;
  margin: 3px;
  overflow: hidden;
}
.metanthropes .layout-container-grid3x2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  -moz-column-gap: 6px;
       column-gap: 6px;
  row-gap: 3px;
  padding: 3px;
  margin: 3px;
  overflow: hidden;
}
.metanthropes .layout-container-grid4x1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 1px;
       column-gap: 1px;
  padding: 1px;
  margin: 1px;
  overflow: hidden;
}
.metanthropes .layout-container-grid2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 3px;
       column-gap: 3px;
  row-gap: 3px;
  padding: 1px;
  margin: 1px;
  overflow: hidden;
  overflow-wrap: break-word;
}
.metanthropes .layout-container-grid3x1 {
  display: grid;
  grid-template-columns: 2fr 1fr 4fr;
  -moz-column-gap: 1px;
       column-gap: 1px;
  padding: 1px;
  margin: 1px;
  overflow: hidden;
  overflow-wrap: break-word;
}
.metanthropes .layout-container-chars {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  -moz-column-gap: 3px;
       column-gap: 3px;
  row-gap: 3px;
  padding: 1px;
  margin: 1px;
  overflow: hidden;
}
.metanthropes .layout-container-stats {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 1px;
  margin: 1px;
  overflow: hidden;
  overflow-wrap: break-word;
}
.metanthropes .layout-container-grid1x3 {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  flex-direction: row;
  -moz-column-gap: 6px;
       column-gap: 6px;
  padding: 3px;
  margin: 3px;
  overflow: hidden;
}
.metanthropes .layout-container-small {
  display: flex;
  flex-direction: column;
  padding: 1px;
  margin: 1px;
}
.metanthropes .layout-container-nav {
  display: flex;
  flex-direction: row;
  padding: 1px;
  margin: 1px;
}
.metanthropes .layout-metaroll-dialog {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  justify-self: stretch;
  align-self: auto;
  padding: 6px;
  margin: 6px;
  overflow-y: auto;
}
.metanthropes .layout-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.metanthropes .style-container-grid3x4 {
  opacity: 1;
  border: 1px dotted #370239;
  border-radius: 15px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
}
.metanthropes .style-container-grid3x2 {
  opacity: 1;
  border: 1px dotted #370239;
  border-radius: 15px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
}
.metanthropes .style-container-grid3x1 {
  opacity: 1;
  border: 1px solid #370239;
  border-radius: 15px;
  justify-content: stretch;
  justify-self: center;
  align-items: stretch;
  align-self: center;
}
.metanthropes .style-container-chars {
  opacity: 1;
  border: 1px solid #370239;
  border-radius: 15px;
  justify-content: center;
  justify-self: stretch;
  align-items: center;
  align-self: stretch;
}
.metanthropes .style-container-stats {
  opacity: 1;
  border: 1px solid #370239;
  border-radius: 15px;
  justify-content: center;
  justify-self: stretch;
  align-items: center;
  align-self: stretch;
}
.metanthropes .style-container-grid1x3 {
  opacity: 1;
  border: 1px solid #370239;
  border-radius: 15px;
  justify-content: center;
  justify-self: stretch;
  align-items: center;
  align-self: stretch;
}
.metanthropes .style-container-small {
  opacity: 1;
  border: 1px solid #370239;
  border-radius: 15px;
  justify-content: flex-start;
  justify-self: stretch;
  align-items: stretch;
  align-self: stretch;
}
.metanthropes .style-container-border {
  border: 1px solid #370239;
  border-radius: 15px;
  border-style: dotted;
  -o-border-image: url(../artwork/border.webp) 5/10px round;
     border-image: url(../artwork/border.webp) 5/10px round;
  border-radius: 15px;
}
.metanthropes .style-container-nav {
  border: 1px dotted #370239;
  border-radius: 15px;
  justify-content: space-evenly;
  justify-self: stretch;
  align-items: center;
  align-self: stretch;
}
.metanthropes .style-container-input-charstat {
  min-width: 2ch;
  max-width: 3ch;
  margin: 1px;
  padding: 3px 3px 3px 6px;
  border: 1px dotted #370239;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.metanthropes .style-labels-number {
  opacity: 1;
  font-family: "nasalization", sans-serif;
  font-size: 1rem;
  color: #370239;
  padding: 3px;
  margin: 3px;
}
.metanthropes .style-labels-text {
  opacity: 1;
  font-family: "nasalization", sans-serif;
  font-size: 1rem;
  color: #370239;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  padding: 3px;
  margin: 3px;
}
.metanthropes .style-cs-chars-label {
  opacity: 1;
  font-family: "nasalization", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  padding: 1px;
  margin: 1px;
}
.metanthropes .style-cs-stats-label {
  opacity: 1;
  font-family: "nasalization", sans-serif;
  font-size: 1.4rem;
  color: #000;
  text-transform: uppercase;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  padding: 1px;
  margin: 1px;
}
.metanthropes .style-cs-labels {
  opacity: 1;
  font-family: "nasalization", sans-serif;
  font-size: 1rem;
  color: #000;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  padding: 1px;
  margin: 1px;
}
.metanthropes .style-cs-chars-value {
  opacity: 1;
  font-family: "nasalization", sans-serif;
  font-size: 1.2rem;
  color: #000;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  padding: 1px;
  margin: 1px;
}
.metanthropes .style-cs-values {
  opacity: 1;
  font-family: "nasalization", sans-serif;
  font-size: 0.8rem;
  color: #000;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  padding: 1px;
  margin: 1px;
}
.metanthropes .style-cs-buffs {
  opacity: 1;
  font-family: "nasalization", sans-serif;
  font-size: 0.8rem;
  color: #143d0a;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  padding: 3px;
  margin: 3px;
}
.metanthropes .style-cs-conditions {
  opacity: 1;
  font-family: "nasalization", sans-serif;
  font-size: 0.8rem;
  color: #a70f0f;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  padding: 3px;
  margin: 3px;
}
.metanthropes .style-cs-rolls {
  opacity: 1;
  font-family: "nasalization", sans-serif;
  font-size: 1.4rem;
  color: #370239;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  padding: 3px;
  margin: 3px;
}
.metanthropes .style-cs-rolls:hover {
  cursor: url(../artwork/metanthropes-dice-roll-small.webp), pointer;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.metanthropes .style-cs-rolls:focus {
  cursor: url(../artwork/metanthropes-dice-roll-small.webp), pointer;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.metanthropes .items-header {
  margin: 1px;
  padding: 1px;
  align-items: center;
  background: rgba(218, 97, 222, 0.3529411765);
  border: 2px groove #000;
  border-radius: 15px;
  font-weight: bold;
}
.metanthropes .items-header > * {
  font-size: 14px;
  text-align: center;
}
.metanthropes .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.metanthropes .items-list {
  list-style: none;
  margin: 1px;
  padding: 1px;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #370239;
}
.metanthropes .items-list .item-list {
  list-style: none;
  margin: 1px;
  padding: 1px;
}
.metanthropes .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.metanthropes .items-list .item-name h3,
.metanthropes .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.metanthropes .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.metanthropes .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.metanthropes .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.metanthropes .items-list .item:last-child {
  border-bottom: none;
}
.metanthropes .items-list .item .item-name {
  color: #191813;
}
.metanthropes .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.metanthropes .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.metanthropes .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(218, 97, 222, 0.3529411765);
  border: 2px groove #000;
  font-weight: bold;
}
.metanthropes .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.metanthropes .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.metanthropes .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}