// Add custom fonts by visiting and search https://fonts.google.com
// The below imports Nasalization from Adobe Fonts.
@import url("https://use.typekit.net/gld0tkk.css");

// Import utilities.
@import "utils/typography";
@import "utils/colors";
@import "utils/mixins";
@import "utils/variables";

/* Global styles */
@import "global/window";
@import "global/grid";
@import "global/flex";

/* Styles limited to metanthropes sheets */
.metanthropes {
	@import "components/forms";
	@import "components/resource";
	@import "components/items";
	@import "components/effects";
}

// when creating classes for use with divs etc, use two types: one for layout and one for content
// one will be used for figuring out the layout of the page, the other for the content style (colors etc) , maybe a third for the typography (fonts etc)
//
