//* Fonts
//? Nasalization, Montserrat
@import url("https://use.typekit.net/gld0tkk.css");
//? Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
//? Nunito Sans
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

//* Utilities
@import "utils/colors";
@import "utils/typography";
@import "utils/mixins";
@import "utils/variables";

//* Global Styles
@layer global {
	@import "global/window";
	@import "global/apps";
	@import "global/buttons";
	@import "global/chat";
	@import "global/dice";
	@import "global/journal";
	@import "global/sheet";
}
//* Metanthropes-Specific Components
@layer metanthropes {
	.metanthropes {
		@import "components/responsive";
		@import "components/layouts";
		@import "components/styles";
		@import "components/items";
		@import "components/effects";
		@import "components/forms";
		//! do we still need to define z-index here?
		//z-index: 3;
		//changes to the selection elements default color
		accent-color: $c-purple;
		caret-color: $c-purple;
		--color-scrollbar: #7d0f81;
		--input-focus-outline-color: #7d0f81;
		--color-shadow-primary: #7d0f81;
		--color-shadow-highlight: #7d0f81;
		--outline-color: #7d0f81;
		--color-warm-1: #7d0f81;
		outline-color: $c-purple;
	}
}
