$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

//qp green & purple
$c-green: #092e00;
$c-purple: #370239;
$s-outline: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
