//inner
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;
//middle
$border-sm: 5px;
$border-md: 10px;
$border-lg: 20px;
//outer
$margin-sm: 5px;
$margin-md: 10px;
$margin-lg: 20px;

$border-groove: 2px groove $c-green;
