//inner
$padding-zero: 0px;
$padding-sm: 2px;
$padding-md: 4px;
$padding-lg: 8px;
//middle

//outer
$margin-zero: 0px;
$margin-sm: 2px;
$margin-md: 4px;
$margin-lg: 8px;

$border-groove: 2px groove $c-green;
