//inner
$padding-zero: 0px;
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;
//middle

//outer
$margin-zero: 0px;
$margin-sm: 5px;
$margin-md: 10px;
$margin-lg: 20px;

$border-groove: 2px groove $c-green;
