//* Offical Metanthropes Styling & Themes
//* Main Color Blue
$c-light-blue: #94d1d8;
$c-main-blue: #00b0bc;
$c-dark-blue: #006e74; //main color light
//* Secondary Color Purple
$c-light-purple: #bc9cbc;
$c-main-purple: #945d90;
$c-dark-purple: #5e3a5b; //main color dark
//* Tertiary Color Golden Brown
$c-light-gold: #dec09b;
$c-main-gold: #c6995e; //golden brown
$c-dark-gold: #6c5432; //disabled?
//* Highlight Colors
$c-light-highlight: #e6007e;
$c-dark-highlight: #ffed00;
//* Font Colors
$c-light-font: #fff;
$c-dark-font: #000;
//skouro defaul - mouse over middle - click: mesaio
//* To be refactored/deprecated
$c-green: #267114;
$c-red: #ab1616;
//* UI
$opacity-button: 0.6;
