//* Offical Metanthropes Theme Colors
//* Main Color Blue
$c-light-blue: #94d1d8;
$c-main-blue: #00b0bc;
$c-dark-blue: #006e74; //main color light
//* Secondary Color Purple
$c-light-purple: #bc9cbc;
$c-main-purple: #945d90;
$c-dark-purple: #5e3a5b; //main color dark
//* Tertiary Color Golden Brown
$c-light-gold: #dec09b;
$c-main-gold: #c6995e; //golden brown
$c-dark-gold: #6c5432; //disabled?
//* Highlight Colors
$c-light-highlight: #e6007e;
$c-dark-highlight: #ffed00;
//* Font Colors
$c-light-font: #f7f3e8;
$c-dark-font: #111;
//skouro defaul - mouse over middle - click: mesaio
//* UI
$opacity-button: 0.6;
//* Dice Results
//! Need to match these with CONFIG ALSO
$c-success-dark: #267114;
$c-success-light: #267114;
$c-buff-dark: #267114;
$c-buff-light: #267114;
$c-failure-dark: #ab1616;
$c-failure-light: #ab1616;
$c-condition-dark: #ab1616;
$c-condition-light: #ab1616;
