//* Padding
$padding-zero: 0px;
$padding-sm: 1px;
$padding-md: 3px;
$padding-lg: 6px;

$padding-input-number: 3px 3px 3px 6px;
$padding-input-text: 3px 3px 3px 6px;
$padding-bottom: 0px 0px 5px 0px;

//* Margins
$margin-zero: 0px;
$margin-sm: 1px;
$margin-md: 3px;
$margin-lg: 6px;