// --- Mixins ---
@mixin button-hover-focus {
	outline: none;
	border: $border-activated;
	//box-shadow: $border-box-shadow;
	opacity: 1;
}

@mixin button-active {
	border: $border-activated;
	box-shadow: $border-box-shadow;
	opacity: 1;
}

// Base Button Styles
%base-button {
	font-family: $font-primary;
	background-image: url("../assets/artwork/ui/buttons/button.webp");
	background-size: cover;
	text-shadow: $s-button;
	border: $border-groove;
	border-radius: $border-radius;
	color: $c-white;
	opacity: $opacity-button;
}

// --- Button Elements ---
button,
form button,
a.button,
app.button,
app button,
.dialog .dialog-buttons button {
	@extend %base-button;

	&.active {
		@include button-active;
	}

	&:hover,
	&:focus {
		@include button-hover-focus;
	}
	&.disabled {
		color: black;
	}
}

// --- Specific Adjustments ---

// Default button inside dialogs
.dialog .dialog-buttons button.default {
	background: none;
	background-image: url("../assets/artwork/ui/buttons/button.webp");
	@include button-active;
}

// Chat anchor button (special width)
button.chat-button-anchor {
	width: auto;
}

// Button pseudo-element (before)
button::before {
	font: var(--fa-font-solid);
	display: flex;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;

	// Centering tricks
	justify-self: center;
	align-self: center;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
}
