.sheet.journal-entry .journal-entry-content {
	position: relative;
	background: none;
	background-image: url("../assets/artwork/ui/window/background.webp");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-origin: border-box;
	background-clip: border-box;
}
