// this changes the input fields in Foundry UI
.metanthropes input[type="text"] {
	min-width: 8ch;
	max-width: 22ch;
	margin: $margin-sm;
	padding: $padding-input-text;
	border: $border-style-dashed;
	border-radius: $border-radius;
	justify-content: center;
	align-items: center;
}
.metanthropes input[type="number"] {
	min-width: 3ch;
	max-width: 5ch;
	margin: $margin-sm;
	padding: $padding-input-number;
	border: $border-style-dashed;
	border-radius: $border-radius;
	justify-content: center;
	align-items: center;
}
section {
	font-family: $font-primary;
	margin: $margin-sm;
	padding: $padding-sm;
}
main {
	font-family: $font-primary;
	margin: $margin-sm;
	padding: $padding-sm;
	box-sizing: border-box;
}
body {
	font-family: $font-secondary;
	background-image: url("../assets/artwork/ui/canvas/bg-canvas.webp");
	background-size: auto auto;
	background-attachment: local;
	background-repeat: repeat;
	background-origin: border-box;
	background-clip: border-box;
}
header {
	margin: $margin-sm;
	padding: $padding-sm;
}
footer {
	margin: $margin-sm;
	padding: $padding-sm;
}
a {
	&:hover {
		text-shadow: $s-shadow;
	}
}

dialog::backdrop {
	background: #fff5;
	backdrop-filter: blur(4px);
}

select {
	font-family: $font-secondary;
	border: $border-style-dotted;
	border-radius: $border-radius;
}
option {
	background-color: $c-background;
	font-family: $font-secondary;
	border: $border-style-dotted;
	border-radius: $border-radius;
}
p {
	font-family: $font-secondary;
	margin: $margin-sm;
	padding: $padding-sm;
	text-align: left;
	//font-size: 16px;
}
h3 {
	font-family: $font-primary;
	text-align: center;
	color: $c-white;
	text-shadow: $s-outline;
}

// this changes the font in most title-elements of Foundry UI
.window-app {
	font-family: $font-primary; //or
	margin: $padding-sm;
	padding: $padding-sm;
}
.window-content {
	font-family: $font-primary;
	padding: $padding-md;
	margin: $margin-md;
}
.dialog-content {
	font-family: $font-primary;
	padding: $padding-md;
	margin: $margin-md;
}

.window-app .window-content {
	position: relative;
	background-image: url("../assets/artwork/ui/window/background.webp");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-origin: border-box;
	background-clip: border-box;
	z-index: 1;
	&::before {
		pointer-events: none;
		content: "";
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 55%;
		height: 55%;
		background-image: url("../assets/artwork/ui/window/logo.webp");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-origin: padding-box;
		background-clip: content-box;
		z-index: 2;
		filter: blur(1px);
		opacity: 0.5;
	}
}

.directory .directory-header .header-search input {
	background-color: $c-background;
}

//todo: are z-indexes here still doing something?
// .window-app .window-resizable-handle {
// 	z-index: 4;
// }

// .sheet.journal-entry .journal-entry-content {
// 	z-index: 3;
// }

// .image-popout figure {
// 	z-index: 3;
// }
