//the below two will change the default D20 in the initiative tracker icon to our custom dice
.combat-sidebar li.combatant .roll {
	display: block;
	width: 40px;
	height: var(--sidebar-item-height);
	background: url("../artwork/metanthropes-dice-roll-small.webp") no-repeat 50% 50%;
	background-size: 42px;
	margin: 0 0.5em;
}
.combat-sidebar li.combatant .roll:hover {
	background-image: url("../artwork/metanthropes-dice-roll-small-activated.webp");
}
// this changes the input fields in Foundry UI
input[type="text"] {
	min-width: 8ch;
	max-width: 22ch;
	margin: $margin-sm;
	padding: $padding-input-text;
	border: $border-style-dashed;
	border-radius: $border-radius;
	justify-content: center;
	align-items: center;
}
input[type="number"] {
	min-width: 3ch;
	max-width: 5ch;
	margin: $margin-sm;
	padding: $padding-input-number;
	border: $border-style-dashed;
	border-radius: $border-radius;
	justify-content: center;
	align-items: center;
}
section {
	font-family: $font-primary;
	margin: $margin-sm;
	padding: $padding-sm;
}
main {
	font-family: $font-primary;
	margin: $margin-sm;
	padding: $padding-sm;
	box-sizing: border-box;
}
body {
	font-family: $font-secondary;
	background-image: url("../artwork/bg-canvas.webp");
	background-size: auto auto;
	background-attachment: local;
	background-repeat: repeat;
	background-origin: border-box;
	background-clip: border-box;
}
header {
	margin: $margin-sm;
	padding: $padding-sm;
}
footer {
	margin: $margin-sm;
	padding: $padding-sm;
}
// this changes the font for buttons of Foundry UI
button {
	font-family: $font-primary;
	background-image: url("../artwork/button-3dhex.webp");
	background-size: contain;
	text-shadow: $s-button;
	border: $border-groove;
	border-radius: $border-radius;
	color: $c-white;
}
select {
	font-family: $font-primary;
	border: $border-style-dotted;
	border-radius: $border-radius;
}
option {
	background-color: $c-background;
	font-family: $font-primary;
	border: $border-style-dotted;
	border-radius: $border-radius;
}
p {
	font-family: $font-secondary;
	margin: $margin-sm;
	padding: $padding-sm;
	text-align: center;
}
h3 {
	text-align: center;
}
// this changes the font in most title-elements of Foundry UI
.window-app {
	font-family: $font-primary;
	margin: $padding-sm;
	padding: $padding-sm;
}
.window-content {
	font-family: $font-primary;
	padding: $padding-md;
	margin: $margin-md;
}
.dialog-content {
	font-family: $font-primary;
	padding: $padding-md;
	margin: $margin-md;
}
.window-app .window-content {
	background-image: url("../artwork/background.webp");
	background-size: auto auto;
	background-attachment: scroll, local;
	background-repeat: repeat;
	background-origin: border-box;
	background-clip: border-box;
	padding: $padding-md;
	margin: $margin-md;
}
.chat-message {
	background-image: url("../artwork/chat-results.webp");
}
#chat-form textarea {
	background-image: url("../artwork/chat-box.webp");
}
.directory .directory-header .header-search input {
	background-color: $c-background;
}

.chat-message .message-header .flavor-text,
.chat-message .message-header .whisper-to,
.chat-message .message-content {
	font-family: $font-secondary;
	font-size: 15px;
	font-weight: 600;
	color: $c-black;
}
//mana from discord black magic!
.fa-solid.fa-dice-d20:before,
.fas.fa-dice-d20:before {
	content: "\f6cd";
}
//me adding this for carousel
.far.fa-dice-d20:before {
	content: "\f6cd";
}
