//the below two will change the default D20 in the initiative tracker icon to our custom dice
.combat-sidebar li.combatant .roll {
	display: block;
	width: 40px;
	height: var(--sidebar-item-height);
	background: url("../artwork/ui/dice/d100roll-white.webp") no-repeat 50% 50%;
	background-size: 42px;
	margin: 0 0.5em;
}
.combat-sidebar li.combatant .roll:hover {
	background-image: url("../artwork/ui/dice/d100roll-white-selected.webp");
}
// this changes the input fields in Foundry UI
.metanthropes input[type="text"] {
	min-width: 8ch;
	max-width: 22ch;
	margin: $margin-sm;
	padding: $padding-input-text;
	border: $border-style-dashed;
	border-radius: $border-radius;
	justify-content: center;
	align-items: center;
}
.metanthropes input[type="number"] {
	min-width: 3ch;
	max-width: 5ch;
	margin: $margin-sm;
	padding: $padding-input-number;
	border: $border-style-dashed;
	border-radius: $border-radius;
	justify-content: center;
	align-items: center;
}
section {
	font-family: $font-primary;
	margin: $margin-sm;
	padding: $padding-sm;
}
main {
	font-family: $font-primary;
	margin: $margin-sm;
	padding: $padding-sm;
	box-sizing: border-box;
}
body {
	font-family: $font-secondary;
	background-image: url("../artwork/ui/canvas/bg-canvas.webp");
	background-size: auto auto;
	background-attachment: local;
	background-repeat: repeat;
	background-origin: border-box;
	background-clip: border-box;
}
header {
	margin: $margin-sm;
	padding: $padding-sm;
}
footer {
	margin: $margin-sm;
	padding: $padding-sm;
}
// this changes the font for buttons of Foundry UI
button {
	font-family: $font-title;
	text-transform: uppercase;
	background-image: url("../artwork/ui/buttons/button.webp");
	background-size: cover;
	text-shadow: $s-button;
	border: $border-groove;
	border-radius: $border-radius;
	color: $c-white;
	&.active {
		border: $border-activated;
	}
	&:hover {
		outline: none;
		border: $border-activated;
		box-shadow: 0 0 5px $c-purple;
	}
	&:focus {
		outline: none;
		box-shadow: 0 0 5px $c-purple;
	}
}
select {
	font-family: $font-secondary;
	border: $border-style-dotted;
	border-radius: $border-radius;
}
option {
	background-color: $c-background;
	font-family: $font-secondary;
	border: $border-style-dotted;
	border-radius: $border-radius;
}
p {
	font-family: $font-secondary;
	margin: $margin-sm;
	padding: $padding-sm;
	text-align: center;
	font-size: 16px;
}
h3 {
	font-family: $font-primary;
	text-align: center;
}
//? rolltable results
.chat-message .table-draw .table-results .table-result img.result-image {
	width: 100%;
	max-height: 150px;
	height: auto;
	object-fit: contain;
	border: none;
	align-self: center;
	text-align: center;
	margin: $margin-sm;
	padding: $padding-sm;
}
.chat-message .table-draw .table-results .table-result {
	flex-direction: column;
}
// this changes the font in most title-elements of Foundry UI
.window-app {
	font-family: $font-title;
	margin: $padding-sm;
	padding: $padding-sm;
}
.window-content {
	font-family: $font-primary;
	padding: $padding-md;
	margin: $margin-md;
}
.dialog-content {
	font-family: $font-primary;
	padding: $padding-md;
	margin: $margin-md;
}

.window-app .window-content {
	position: relative;
	background-image: url("../artwork/ui/window/background.webp");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-origin: border-box;
	background-clip: border-box;
	z-index: 1;
	&::before {
		pointer-events: none;
		content: "";
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 55%;
		height: 55%;
		background-image: url("../artwork/ui/window/logo.webp");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-origin: padding-box;
		background-clip: content-box;
		z-index: 2;
		filter: blur(1px);
		opacity: 0.5;
	}
}

.chat-message,
.chat-message.whisper,
.chat-message.blind {
	background-image: url("../artwork/ui/chat/chat-results.webp");
	background-size: cover;
	//opacity: 0.75;
}
#chat-form textarea {
	background-image: url("../artwork/ui/chat/chat-box.webp");
}
.directory .directory-header .header-search input {
	background-color: $c-background;
}

.chat-message .message-header .flavor-text,
.chat-message .message-header .whisper-to,
.chat-message .message-content {
	font-family: $font-secondary;
	font-size: 15px;
	font-weight: 500;
	color: $c-black;
}
//mana from discord black magic!
.fa-solid.fa-dice-d20:before,
.fas.fa-dice-d20:before {
	content: "\f6cd";
}
//me adding this for carousel
.far.fa-dice-d20:before {
	content: "\f6cd";
}
//override filepicker list defaults
.filepicker .tiles-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 508px;
}
.filepicker .tiles-list li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 167px;
	height: 290px;
}
.filepicker .tiles-list li img {
	transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) 0.3s;
	z-index: 3;
	&:hover {
		transform: scale(1.6); // translateY(40px);
		z-index: 4;
	}
}

.window-app .window-resizable-handle {
	z-index: 4;
}

.sheet.journal-entry .journal-entry-content {
	z-index: 3;
}

.image-popout figure {
	z-index: 3;
}
