
//? Primary shadow color for active tabs
.tabs .item.active {
	text-shadow: 0 0 10px $c-purple;
}

.item-form {
	font-family: $font-primary;
}



.tox {
	.tox-editor-container {
		//background: $c-white;
		min-height: 80px;
		height: auto;
		max-height: 500px;
		overflow-y: auto;
	}

	.tox-edit-area {
		padding: 0 8px;
		min-height: 80px;
		height: auto;
		max-height: 500px;
		overflow-y: auto;
	}
}

.resource {
	font-family: $font-secondary;
	font-size: 0.9rem;
	color: $c-black;
	justify-content: center;
	align-items: center;
	align-self: center;
	font-weight: 500;
	padding: $padding-sm;
	margin: $margin-sm;
}

.resource-label {
	font-family: $font-primary;
	font-size: 0.9rem;
	color: $c-black;
	width: 100%;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	font-weight: 700;
	padding: $padding-sm;
	margin: $margin-sm;
}
