<form class="metanthropes {{cssClass}}" autocomplete="off">
	{{> "systems/metanthropes-system/templates/helpers/actor-header.hbs"}}
	<main>
		<div class="layout-container-nav style-container-nav">
			<nav class="style-container-nav-children csnavselector tabs" data-group="cs">
				<a class="item style-cs-labels" data-tab="cs-charstats">📊 Overview</a>
			</nav>
		</div>
		<section class="csnavtabs">
			<div class="tab cs-charstats" data-group="cs" data-tab="cs-charstats">
				{{> "systems/metanthropes-system/templates/helpers/actor-charstats.hbs"}}
			</div>
		</section>
	</main>
</form>