<div class="layout-editor style-container-border">
	{{editor system.physical.Description.value target="system.physical.Description.value" button=true owner=owner editable=editable}}
</div>
<div class="layout-editor style-container-border">
	{{editor system.entermeta.Description.value target="system.entermeta.Description.value" button=true owner=owner editable=editable}}
</div>