<nav class="style-container-nav-children csnavselector tabs" data-group="cs">
	<button class="meta-ui-responsive meta-ui-hide-at-minimum" data-tab="cs-summary">
		<span data-tooltip="Summary" class="meta-emoji"><i class="fa-duotone fa-solid fa-id-card"></i></span>
		<span class="meta-ui-responsive meta-ui-hide-at-medium">Summary</span>
	</button>
	{{#if actor.hasCharacteristics}}
		<button data-tab="cs-charstats">
			<span data-tooltip="Stats" class="meta-emoji"><i class="fa-duotone fa-solid fa-chart-simple"></i></span>
			<span class="meta-ui-responsive meta-ui-hide-at-medium">Stats</span>
		</button>
	{{/if}}
	{{#if actor.hasPerks}}
		<button class="meta-ui-responsive meta-ui-hide-at-minimum" data-tab="cs-perks">
			<span data-tooltip="Perks" class="meta-emoji"><i class="fa-duotone fa-solid fa-books"></i></span>
			<span class="meta-ui-responsive meta-ui-hide-at-medium">Perks</span>
		</button>
	{{/if}}
	<button data-tab="cs-actions">
		<span data-tooltip="Actions" class="meta-emoji"><i class="fa-duotone fa-solid fa-stopwatch"></i></span>
		<span class="meta-ui-responsive meta-ui-hide-at-medium">Actions</span>
	</button>
	{{#if actor.hasEnterMeta}}
		<button class="meta-ui-responsive meta-ui-hide-at-minimum" data-tab="cs-metapowers">
			<span data-tooltip="Metapowers" class="meta-emoji">Ⓜ️</span>
			<span class="meta-ui-responsive meta-ui-hide-at-medium">Metapowers</span>
		</button>
	{{/if}}
	{{#if actor.hasPossessions}}
		<button class="meta-ui-responsive meta-ui-hide-at-minimum" data-tab="cs-possessions">
			<span data-tooltip="Possessions" class="meta-emoji"><i class="fa-duotone fa-solid fa-backpack"></i></span>
			<span class="meta-ui-responsive meta-ui-hide-at-medium">Possessions</span>
		</button>
	{{/if}}
	<button class="meta-ui-responsive meta-ui-hide-at-minimum" data-tab="cs-active-effects">
		<span data-tooltip="Effects" class="meta-emoji"><i class="fa-duotone fa-solid fa-person-rays"></i></span>
		<span class="meta-ui-responsive meta-ui-hide-at-medium">Effects</span>
	</button>
</nav>