<div class="tab active-effects" data-group="primary" data-tab="active-effects">
	{{#if betaTesting}}
		<div>
			{{> "systems/metanthropes-system/templates/helpers/active-effects.hbs"}}
		</div>
	{{else}}
		<div>
			Active Effects are available in Beta Testing
		</div>
	{{/if}}
</div>