@use "../settings" as *;
//todo consolidate with button functionality?

@mixin roll-hover-focus {
	outline: none;
	border: $border-activated;
	//box-shadow: 0 0 0 3px var(--metanthropes-color-highlight);
	text-shadow: var(--metanthropes-color-text-shadow);
	opacity: 1;
}

@mixin roll-active {
	border: $border-activated;
	//box-shadow: 0 0 0 5px var(--metanthropes-color-highlight);
	opacity: 1;
}

//? Base Inline Roll
%base-inline-roll {
	font-family: $font-primary;
	//background-image: $a-button-image;
	//background-size: cover;
	text-shadow: var(--metanthropes-color-text-shadow);
	border: $border-groove;
	border-radius: $border-radius;
	color: var(--metanthropes-color-text);
	opacity: 0.6;
}

.inline-roll {
	@extend %base-inline-roll;
	&.active {
		@include roll-active;
	}
	&:hover,
	&:focus {
		@include roll-hover-focus;
	}
}

//* Inline Rolls
.meta-roll-inline-results {
	font-size: 0.9rem;
	margin: 15px;
	padding: 0px;
	opacity: 1;
}

.meta-roll-inline-results-small {
	font-size: 0.8rem;
	//border: none;
	//border-radius: 5px;
	margin: $margin-sm;
	padding: 0px;
	opacity: 1;
}

//* Chat specifics
.chat-message,
.chat-message.whisper,
.chat-message.blind {
	background: none;
	border: 2px solid var(--chat-message-border-color);
	border-radius: 6px;
	background-image: var(--metanthropes-chat-bg);
	background-size: cover;
	//opacity: 0.75;
}

#chat-form textarea {
	background-image: $a-chat-text-area;
	background-size: cover;
}

.chat-message .message-header,
.chat-message .message-header .flavor-text,
.chat-message .message-header .whisper-to,
.chat-message .message-content {
	font-family: $font-secondary;
	font-size: 0.9rem;
	font-weight: 500;
	color: var(--metanthropes-color-text);
}

//? match FVTT default chat messages
.welcome-message {
	font-size: var(--font-size-12);
}

//* Rolltable results
.chat-message .table-draw .table-results .table-result img.result-image {
	width: 100%;
	max-height: 150px;
	height: auto;
	object-fit: contain;
	border: none;
	align-self: center;
	text-align: center;
	margin: $margin-sm;
	padding: $padding-sm;
}

.chat-message .table-draw .table-results .table-result {
	flex-direction: column;
}
