.effects .item {
	.effect-source,
	.effect-duration,
	.effect-controls {
		text-align: center;
		border-left: 1px solid $c-faint;
		border-right: 1px solid $c-faint;
		font-size: 12px;
	}

	.effect-controls {
		border: none;
	}
	text-align: center;
	padding: 0 2px; // to align with the header border
}
