.item-form {
	font-family: $font-primary;
}

.metanthropes {
	padding: $padding-sm;
	margin: $margin-sm;
	border: $border-sm;
}

.layout-container-big {
	background-image: url("../artwork/layout-container-big.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	opacity: 0.4;
	padding: $padding-lg;
	margin: $margin-lg;
	border: $border-lg;
	//same as grid-3col
	grid-column: span 3 / span 3;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-column-end: span 3;
}

.layout-container-med {
	background-image: url("../artwork/layout-container-med.jpg");
	padding: $padding-md;
	margin: $margin-md;
	border: $border-md;
	opacity: 1;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 200px;
}

.style-primary-title {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1.5em;
	color: $c-purple;
	text-shadow: 0 0 10px $c-green;
}

.style-primary-body {
	font-family: $font-primary;
	font-size: 1.2em;
	color: $c-green;
	text-shadow: 0 0 10px $c-purple;
}

.style-secondary-title {
	font-family: $font-secondary;
	font-size: 1.5em;
	color: $c-purple;
}

.style-secondary-body {
	font-family: $font-secondary;
	font-size: 1.2em;
	color: $c-green;
}

.sheet-header {
	flex: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 10px;

	.profile-img {
		flex: 0 0 100px;
		height: 100px;
		margin-right: 10px;
	}

	.header-fields {
		flex: 1;
	}

	h1.charname {
		height: 50px;
		padding: 0px;
		margin: 5px 0;
		border-bottom: 0;
		input {
			width: 80%;
			height: 80%;
			margin: 0;
		}
	}
}

.sheet-tabs {
	flex: 0;
}

//.sheet-body {
////     qp adding background image to the body
//	background-image: url("../artwork/bg-sheet.jpg");
//    background-size: cover;
//    background-attachment: fixed;
//    background-repeat: no-repeat;
//    opacity: 0.2;
//}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
	height: 100%;
	font-family: $font-secondary;
}

.tox {
	.tox-editor-container {
		// qp playing with background colors background: $c-green;
		background-image: url("./artwork/bg-sheet.jpg");
		background-repeat: no-repeat;
		font-family: $font-secondary;
		// background-position: center center;
	}

	.tox-edit-area {
		padding: 0 8px;
	}
}
