//	.item-form {
//		font-family: $font-primary;
//	}

.layout-container-grid3x4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	padding: $padding-zero;
	margin: $margin-zero;
	background-image: url("../artwork/bg-canvas.jpg");
	background-size: cover;
	background-attachment: local;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-clip: border-box;
	opacity: 0.6;
	
}

.layout-container-big {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	background-image: url("../artwork/layout-container-big.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-clip: border-box;
	opacity: 0.8;
	padding: $padding-zero;
	margin: $margin-zero;
}

.layout-container-med {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	background-image: url("../artwork/layout-container-med.jpg");
	background-size: contain;
	background-attachment: local;
	background-repeat: round;
	background-origin: border-box;
	background-clip: border-box;
	padding: $padding-md;
	margin: $margin-md;
	opacity: 0.4;
}

.style-container-grid3x4-children {
	opacity: 1;
	//font-family: $font-primary; it's declared in the window and it's inherited
	justify-content: center;
	font-size: 1rem;
	color: $c-purple;
	text-shadow: $s-outline;
}

.style-container-med-children {
	opacity: 1;
	//font-family: $font-primary;
	font-size: .75rem;
	color: $c-green;
	text-shadow: 0 0 10px $c-purple;
}

.style-secondary-title {
	opacity: 1;
	font-family: $font-secondary;
	font-size: 1.5em;
	color: $c-purple;
}

.style-secondary-body {
	opacity: 1;
	font-family: $font-secondary;
	font-size: 1.2em;
	color: $c-green;
}

//	.sheet-header {
//		flex: 0 auto;
//		overflow: hidden;
//		display: flex;
//		flex-direction: row;
//		flex-wrap: wrap;
//		justify-content: flex-start;
//		margin-bottom: 10px;
//	
//		.profile-img {
//			flex: 0 0 100px;
//			height: 100px;
//			margin-right: 10px;
//		}
//	
//		.header-fields {
//			flex: 1;
//		}
//	
//		h1.charname {
//			height: 50px;
//			padding: 0px;
//			margin: 5px 0;
//			border-bottom: 0;
//			input {
//				width: 80%;
//				height: 80%;
//				margin: 0;
//			}
//		}
//	}
//	
//	.sheet-tabs {
//		flex: 0;
//	}
//	
//.sheet-body {
////     qp adding background image to the body
//	background-image: url("../artwork/bg-sheet.jpg");
//    background-size: cover;
//    background-attachment: fixed;
//    background-repeat: no-repeat;
//    opacity: 0.2;
//}

//	.sheet-body,
//	.sheet-body .tab,
//	.sheet-body .tab .editor {
//		height: 100%;
//		font-family: $font-secondary;
//	}
//	
//	.tox {
//		.tox-editor-container {
//			// qp playing with background colors background: $c-green;
//			background-image: url("./artwork/bg-sheet.jpg");
//			background-repeat: no-repeat;
//			font-family: $font-secondary;
//			// background-position: center center;
//		}
//	
//		.tox-edit-area {
//			padding: 0 8px;
//		}
//	}
