// Section Header
.items-header {
	//height: 28px;
	margin: $margin-sm;
	padding: $padding-sm;
	align-items: center;
	background: $c-background;
	border: $border-groove;
	border-radius: $border-radius;
	font-weight: bold;
	> * {
		font-size: 14px;
		text-align: center;
	}
	.item-name {
		font-weight: bold;
		padding-left: 5px;
		text-align: left;
		display: flex;
		// font-size: 16px;
	}
}

//* ----------------------------------------- */
//*  Items Lists                              */
//* ----------------------------------------- */

.items-list {
	list-style: none;
	margin: $margin-sm;
	padding: $padding-sm;
	overflow-y: auto;
	scrollbar-width: thin;
	color: $c-black;

	// Child lists
	.item-list {
		list-style: none;
		margin: $margin-sm;
		padding: $padding-sm;
	}

	// Item Name
	.item-name {
		flex: 2;
		margin: 0;
		overflow: hidden;
		font-size: 13px;
		text-align: left;
		align-items: center;
		display: flex;
		h3,
		h4 {
			margin: 0;
			white-space: nowrap;
			overflow-x: hidden;
		}
	}

	// Control Buttons
	.item-controls {
		display: flex;
		flex: 0 0 100px;
		justify-content: center;
		a {
			font-size: 12px;
			text-align: center;
			margin: 0 6px;
		}
	}

	// Individual Item
	.item {
		align-items: center;
		padding: 0 2px; // to align with the header border
		border-bottom: 1px solid $c-black;
		//didn't like this effect
		//	&:last-child {
		//		border-bottom: none;
		//	}
		.item-name {
			color: $c-black;
			.item-image {
				flex: 0 0 30px;
				height: 30px;
				background-size: 30px;
				border: none;
				margin-right: 5px;
			}
		}
	}

	.item-prop {
		text-align: center;
		border-left: 1px solid $c-black;
		border-right: 1px solid $c-black;
		font-size: 14px;
	}

	// Section Header
	.items-header {
		height: 36px;
		margin: $margin-sm;
		padding: $padding-sm;
		align-items: center;
		background: $c-background;
		border: $border-groove;
		font-weight: bold;
		> * {
			font-size: 16px;
			text-align: center;
		}
		.item-name {
			padding-left: 5px;
			text-align: left;
			// font-size: 16px;
		}
	}
}

//* Example style for Metanthropes (can be removed if not needed) */
.item-formula {
	flex: 0 0 200px;
	padding: 0 8px;
}
