//layouts used in Metanthropes RPG Sheets
//container layout
//XL container with 3 columns and 4 rows
.layout-container-grid3x4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	column-gap: 6px;
	row-gap: 3px;
	//background-image: url("../artwork/bg-canvas.jpg");
	//background-size: cover;
	//background-attachment: local;
	//background-repeat: no-repeat;
	//background-origin: border-box;
	//background-clip: border-box;
	padding: $padding-lg;
	margin: $margin-lg;
	overflow: hidden;
}
//big container with 3 columns and 2 rows
.layout-container-grid3x2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	//grid-auto-rows: minmax(50px, 100px);
	column-gap: 6px;
	row-gap: 3px;
	//background-image: url("../artwork/layout-container-big.jpg");
	//background-size: cover;
	//background-attachment: fixed;
	//background-repeat: no-repeat;
	//background-origin: border-box;
	//background-clip: border-box;
	padding: $padding-md;
	margin: $margin-md;
	overflow: hidden;
}
//medium container with 3 columns and 1 row
.layout-container-grid3x1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 6px;
	//row-gap: 3px;
	//background-image: url("../artwork/layout-container-med.jpg");
	//background-size: contain;
	//background-attachment: local;
	//background-repeat: round;
	//background-origin: border-box;
	//background-clip: border-box;
	padding: $padding-md;
	margin: $margin-md;
	overflow: hidden;
}
.layout-container-grid1x3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 6px;
	//row-gap: 3px;
	//background-image: url("../artwork/layout-container-med.jpg");
	//background-size: contain;
	//background-attachment: local;
	//background-repeat: round;
	//background-origin: border-box;
	//background-clip: border-box;
	padding: $padding-md;
	margin: $margin-md;
	overflow: hidden;
}
//small container with 1 flex row
.layout-container-small {
	display: flex;
	flex-direction: column;
	padding: $padding-sm;
	margin: $margin-sm;
}
//nav container with 1 flex row
.layout-container-nav {
	display: flex;
	flex-direction: row;
	//flex-wrap: nowrap;
	padding: $padding-sm;
	margin: $margin-sm;
}