//layouts used in Metanthropes RPG Sheets
//container layout
//XL container with 3 columns and 4 rows
.layout-container-grid3x4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	column-gap: 6px;
	row-gap: 3px;
	padding: $padding-lg;
	margin: $margin-lg;
	overflow: hidden;
}
.layout-container-grid3x4-cs {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	column-gap: 3px;
	row-gap: 3px;
	padding: $padding-md;
	margin: $margin-md;
	overflow: hidden;
}
.layout-container-grid3x5-cs {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 0.8fr;
	column-gap: 3px;
	row-gap: 3px;
	padding: $padding-md;
	margin: $margin-md;
	overflow: hidden;
}
//big container with 3 columns and 2 rows
.layout-container-grid3x2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 3fr 1fr;
	column-gap: 6px;
	row-gap: 3px;
	padding: $padding-md;
	margin: $margin-md;
	overflow: hidden;
}
// container for chars conditions
.layout-container-grid4x1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 1px;
	padding: $padding-sm;
	margin: $margin-sm;
	overflow: hidden;
}
.layout-container-grid2x2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 3px;
	row-gap: 3px;
	padding: $padding-sm;
	margin: $margin-sm;
	overflow: hidden;
	overflow-wrap: break-word;
}
//medium container with 3 columns and 1 row
// this is used for charstats
.layout-container-grid3x1-cs {
	display: grid;
	grid-template-columns: 2fr 1.4fr 3.6fr;
	column-gap: 1px;
	padding: $padding-zero;
	margin: $margin-zero;
	overflow: hidden;
	overflow-wrap: break-word;
}
.layout-container-grid3x1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1px;
	padding: $padding-zero;
	margin: $margin-zero;
	overflow: hidden;
	overflow-wrap: break-word;
}
.layout-container-chars {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	column-gap: 3px;
	row-gap: 3px;
	padding: $padding-sm;
	margin: $margin-sm;
	overflow: hidden;
}
.layout-container-stats {
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	flex-direction: column;
	padding: $padding-sm;
	margin: $margin-sm;
	overflow: hidden;
	overflow-wrap: break-word;
}
.layout-container-grid1x3 {
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	flex-direction: row;
	column-gap: 6px;
	padding: $padding-md;
	margin: $margin-md;
	overflow: hidden;
}
//small container with 1 flex row
.layout-container-small {
	display: flex;
	flex-direction: column;
	padding: $padding-sm;
	margin: $margin-sm;
}
//nav container with 1 flex row
.layout-container-nav {
	display: flex;
	flex-direction: row;
	padding: $padding-md;
	margin: $margin-md;
}
.layout-metaroll-dialog {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	justify-self: stretch;
	align-self: auto;
	padding: $padding-lg;
	margin: $margin-lg;
	overflow-y: auto;
}
.layout-hide {
	@include element-invisible;
	//display: none;
}