//layouts used in Metanthropes RPG Sheets
//container layout
//characteristics and stats container
.layout-container-grid3x4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	column-gap: 6px;
	row-gap: 3px;
	//background-image: url("../artwork/bg-canvas.jpg");
	//background-size: cover;
	//background-attachment: local;
	//background-repeat: no-repeat;
	//background-origin: border-box;
	//background-clip: border-box;
	padding: $padding-zero;
	margin: $margin-zero;
}
//big container with 3 columns and 2 rows
.layout-container-big {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	//background-image: url("../artwork/layout-container-big.jpg");
	//background-size: cover;
	//background-attachment: fixed;
	//background-repeat: no-repeat;
	//background-origin: border-box;
	//background-clip: border-box;
	padding: $padding-zero;
	margin: $margin-zero;
}
//medium container with 3 columns and 1 row
.layout-container-medium {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	//background-image: url("../artwork/layout-container-med.jpg");
	//background-size: contain;
	//background-attachment: local;
	//background-repeat: round;
	//background-origin: border-box;
	//background-clip: border-box;
	padding: $padding-sm;
	margin: $margin-sm;
}
//small container with 1 flex row
.layout-container-small {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}