@use "../settings" as *;
//* Metanthropes class specifics
.metanthropes input[type="text"] {
	min-width: 8ch;
	//max-width: 30ch;
	margin: $margin-sm;
	padding: $padding-input-text;
	border: $border-style-dashed;
	border-radius: $border-radius;
	justify-content: center;
	align-items: center;
}
.metanthropes input[type="number"] {
	min-width: 4ch;
	max-width: 8ch;
	margin: $margin-sm;
	padding: $padding-input-number;
	border: $border-style-dashed;
	border-radius: $border-radius;
	justify-content: center;
	align-items: center;
}
