//Styles used in Metanthropes RPG Sheets
//containers and borders
//characteristics and stats styling and borders
.style-container-grid3x4 {
	opacity: 1;
	border: 1px dotted $c-purple;
	border-radius: 15px;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
//big container styling
.style-container-grid3x2 {
	opacity: 1;
	border: 1px dotted $c-purple;
	border-radius: 15px;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
//medium container styling
.style-container-grid3x1 {
	opacity: 1;
	border: 1px solid $c-purple;
	border-radius: 15px;
	justify-content: center;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
}
//medium container chars
.style-container-chars {
	opacity: 1;
	border: 1px solid $c-purple;
	border-radius: 15px;
	justify-content: center;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
}
.style-container-stats {
	opacity: 1;
	border: 1px solid $c-purple;
	border-radius: 15px;
	justify-content: center;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
}
.style-container-grid1x3 {
	opacity: 1;
	border: 1px solid $c-purple;
	border-radius: 15px;
	justify-content: center;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
}
//small container styling
.style-container-small {
	opacity: 1;
	border: 1px solid $c-purple;
	border-radius: 15px;
	//	justify-content: space-between;
	justify-content: flex-start;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
}
//nav container styling
.style-container-nav {
	border: 1px dotted $c-purple;
	border-radius: 15px;
	justify-content: space-evenly;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
}
//fonts and colors
//unused
.style-labels-number {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1rem;
	color: $c-purple;
}
//unused
.style-labels-text {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1rem;
	color: $c-purple;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
//styles for character sheet elements: style-cs-*
.style-cs-chars-label {
	opacity: 1;
	font-family: $font-title;
	font-size: 1.6rem;
	color: $c-black;
	text-transform: uppercase;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
.style-cs-stats-label {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1.4rem;
	color: $c-black;
	text-transform: uppercase;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
.style-cs-labels {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1rem;
	color: $c-black;
	// text-transform: capitalize;
	// text-emphasis: bold;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
.style-cs-chars-value {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1.2rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
.style-cs-values {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
.style-cs-buffs {
	opacity: 1;
	font-family: $font-primary;
	font-size: 0.8rem;
	color: $c-green;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
.style-cs-conditions {
	opacity: 1;
	font-family: $font-primary;
	font-size: 0.8rem;
	color: $c-red;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
.style-cs-rolls {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1.4rem;
	color: $c-purple;
	text-shadow: $s-outline;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	&:hover {
		cursor: url(systems/metanthropes-system/artwork/metanthropes-dice-roll-small.webp) 2 2, pointer;
	}
	&:focus {
		cursor: url(systems/metanthropes-system/artwork/metanthropes-dice-roll-small.webp) 2 2, pointer;
	}
}
