//Styles used in Metanthropes RPG Sheets
//containers and borders
//characteristics and stats styling and borders
.style-container-grid3x4 {
	opacity: 1;
	border: 1px solid $c-black;
	border-radius: 15px;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
//big container styling
.style-container-grid3x2 {
	opacity: 1;
	border: 1px dotted $c-black;
	border-radius: 15px;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
//medium container styling
.style-container-grid3x1 {
	opacity: 1;
	border: 1px solid $c-black;
	border-radius: 15px;
	justify-content: stretch;
	justify-self: center;
	align-items: stretch;
	align-self: center;
}
//medium container styling
.style-container-grid4x1 {
	opacity: 1;
	border: 1px solid $c-black;
	border-radius: 15px;
	justify-content: stretch;
	justify-self: center;
	align-items: stretch;
	align-self: center;
}
//medium container chars
.style-container-chars {
	opacity: 1;
	border: 1px solid $c-black;
	border-radius: 15px;
	justify-content: center;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
}
.style-container-stats {
	opacity: 1;
	border: 1px solid $c-black;
	border-radius: 15px;
	justify-content: center;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
}
.style-container-grid1x3 {
	opacity: 1;
	border: 1px solid $c-black;
	border-radius: 15px;
	justify-content: center;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
}
.style-container-grid1x4 {
	opacity: 1;
	border: 1px solid $c-black;
	border-radius: 15px;
	justify-content: space-evenly;
	justify-self: space-around;
	justify-items: stretch;
	align-items: center;
	align-self: stretch;
}
//small container styling
.style-container-small {
	opacity: 1;
	border: 1px solid $c-black;
	border-radius: 15px;
	justify-content: flex-start;
	justify-self: stretch;
	align-items: stretch;
	align-self: stretch;
}
.style-container-border {
	border: 1px solid $c-black;
	border-radius: 15px;
	border-style: dotted;
	border-image: url(../artwork/border.webp) 5 / 10px round;
	border-radius: 15px;
}
//nav container styling
.style-container-nav {
	border: 1px solid $c-black;
	border-radius: 15px;
	padding: $padding-sm;
	margin: $margin-sm;
	justify-content: space-evenly;
}
.style-container-nav-children {
	justify-content: space-evenly;
	//justify-self: space-around;
	justify-items: stretch;
	align-items: center;
	align-self: center;
	align-content: center;
	font-size: 1rem;
	color: $c-black;
	padding: $padding-md;
	margin: $margin-md;
}
//input containers styling
.style-container-input-charstat {
	min-width: 2ch;
	max-width: 4ch;
	margin: $margin-sm;
	padding: $padding-input-number;
	border: 1px dashed $c-black;
	border-radius: 15px;
	justify-content: center;
	align-items: center;
}
// longer text input fields
.style-container-input-longtext {
	min-width: 16ch;
	max-width: 90ch;
	margin: $margin-sm;
	padding: $padding-input-number;
	border: 1px dashed $c-black;
	border-radius: 15px;
	justify-content: center;
	align-items: center;
}
//fonts and colors
//unused
.style-labels-number {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1rem;
	color: $c-black;
	padding: $padding-md;
	margin: $margin-md;
}
//unused
.style-labels-text {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-md;
	margin: $margin-md;
}
//styles for character sheet elements: style-cs-*
.style-cs-chars-label {
	opacity: 1;
	font-family: $font-title;
	font-size: 1.6rem;
	font-weight: bold;
	color: $c-black;
	text-transform: uppercase;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
.style-cs-stats-label {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1.6rem;
	color: $c-black;
	text-transform: uppercase;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
.style-cs-labels {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
.style-cs-chars-value {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1.6rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
.style-cs-values {
	opacity: 1;
	font-family: $font-primary;
	font-size: 0.8rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-md;
	margin: $margin-md;
}
.style-cs-buffs {
	opacity: 1;
	font-family: $font-primary;
	font-size: 0.8rem;
	color: $c-green;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-md;
	margin: $margin-md;
}
.style-cs-conditions {
	opacity: 1;
	font-family: $font-primary;
	font-size: 0.8rem;
	color: $c-red;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-md;
	margin: $margin-md;
}
.style-cs-positive {
	opacity: 1;
	font-family: $font-primary;
	color: $c-green;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-md;
	margin: $margin-md;
}
.style-cs-negative {
	opacity: 1;
	font-family: $font-primary;
	color: $c-red;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-md;
	margin: $margin-md;
}
.style-cs-rolls {
	opacity: 1;
	font-family: $font-primary;
	font-size: 2.4rem;
	color: $c-black;
	font-weight: bold;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-md;
	margin: $margin-md;
	&:hover {
		cursor: url(../artwork/metanthropes-dice-roll-small.webp), pointer;
		color: $c-purple;
		text-shadow: $s-outline;
	}
	&:focus {
		cursor: url(../artwork/metanthropes-dice-roll-small.webp), pointer;
		color: $c-purple;
		text-shadow: $s-outline;
	}
}
.style-mp-rolls {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-md;
	margin: $margin-md;
	&:hover {
		cursor: url(../artwork/metanthropes-dice-roll-small.webp), pointer;
		color: $c-purple;
		text-shadow: $s-outline;
	}
	&:focus {
		cursor: url(../artwork/metanthropes-dice-roll-small.webp), pointer;
		color: $c-purple;
		text-shadow: $s-outline;
	}
}
.style-pos-rolls {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-md;
	margin: $margin-md;
	&:hover {
		cursor: url(../artwork/metanthropes-dice-roll-small.webp), pointer;
		color: $c-purple;
		text-shadow: $s-outline;
	}
	&:focus {
		cursor: url(../artwork/metanthropes-dice-roll-small.webp), pointer;
		color: $c-purple;
		text-shadow: $s-outline;
	}
}