//Styles used in Metanthropes RPG Sheets
//containers and borders
//characteristics and stats styling and borders
.style-container-outer-charstats {
	opacity: 1;
	//border: $border-style-solid;
	//border-radius: $border-radius;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
.style-container-outer-charstatsprogression {
	opacity: 1;
	//border: $border-style-solid;
	//border-radius: $border-radius;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
//big container styling
.style-container-grid3x2 {
	opacity: 1;
	border: $border-style-dotted;
	border-radius: $border-radius;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
//medium container styling
.style-container-physical {
	opacity: 1;
	border: $border-style-solid;
	border-radius: $border-radius;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
}
.style-container-actorinfo {
	opacity: 1;
	border: $border-style-solid;
	border-radius: $border-radius;
	justify-content: stretch;
	justify-self: center;
	align-items: center;
	align-self: center;
}
.style-container-progressionheader {
	opacity: 1;
	border: $border-style-solid;
	border-radius: $border-radius;
	justify-content: stretch;
	justify-self: center;
	align-items: center;
	align-self: center;
}
//medium container styling
.style-container-grid4x1 {
	opacity: 1;
	border: $border-style-solid;
	border-radius: $border-radius;
	justify-content: stretch;
	justify-self: center;
	align-items: stretch;
	align-self: center;
}
//medium container chars
.style-container-chars {
	opacity: 1;
	border: $border-style-solid;
	border-radius: $border-radius;
	justify-content: center;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
}
.style-container-stats {
	opacity: 1;
	border: $border-style-solid;
	border-radius: $border-radius;
	justify-content: center;
	justify-self: stretch;
	align-items: stretch;
	align-self: stretch;
}
.style-container-grid1x3 {
	opacity: 1;
	border: $border-style-solid;
	border-radius: $border-radius;
	justify-content: center;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
}
.style-container-vitals {
	opacity: 1;
	border: $border-style-solid;
	border-radius: $border-radius;
	justify-content: space-evenly;
	justify-self: space-around;
	justify-items: stretch;
	align-items: center;
	align-self: stretch;
}
//small container styling
.style-container-small {
	opacity: 1;
	border: $border-style-solid;
	border-radius: $border-radius;
	justify-content: center;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
}
.style-container-outer-tabs {
	opacity: 1;
	//border: $border-style-solid;
	//border-radius: $border-radius;
	justify-content: center;
	justify-self: stretch;
	align-items: stretch;
	align-self: stretch;
}
.style-container-summary {
	opacity: 1;
	border: $border-style-solid;
	border-radius: $border-radius;
	justify-content: center;
	justify-self: stretch;
	align-items: stretch;
	align-self: stretch;
}
.style-container-summary-controls {
	opacity: 1;
	border: $border-style-solid;
	border-radius: $border-radius;
	justify-content: space-evenly;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
}
.style-container-border {
	border: $border-style-solid;
	border-radius: $border-radius;
	border-style: dotted;
	border-image: url(../artwork/border.webp) 5 / 10px round;
	border-radius: $border-radius;
}
//nav container styling
.style-container-nav {
	border: $border-style-solid;
	border-radius: $border-radius;
	padding: $padding-md;
	margin: $margin-md;
	justify-content: space-around;
}
.style-container-nav-children {
	align-items: center;
	font-size: 1rem;
	font-weight: 600;
	color: $c-black;
	padding: $padding-sm;
	margin: $margin-sm;
}
//input containers styling
.style-container-input-charstat {
	min-width: 2ch;
	max-width: 4ch;
	margin: $margin-sm;
	padding: $padding-input-number;
	border: $border-style-dashed;
	border-radius: $border-radius;
	justify-content: center;
	align-items: center;
}
// longer text input fields
.style-container-input-longtext {
	min-width: 16ch;
	max-width: 90ch;
	margin: $margin-sm;
	padding: $padding-input-number;
	border: $border-style-dashed;
	border-radius: $border-radius;
	justify-content: center;
	align-items: center;
}
//fonts and colors
.style-labels-number {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1rem;
	color: $c-black;
	padding: $padding-sm;
	margin: $margin-sm;
}
.style-labels-text {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
.style-actorinfo-tier1 {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1.6rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-zero;
}
.style-actorinfo-tier2 {
	opacity: 0.8;
	font-family: $font-primary;
	font-size: 1rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-zero;
	margin: $margin-zero;
}
.style-actorinfo-tier3 {
	opacity: 0.5;
	font-family: $font-secondary;
	font-size: 0.6rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-zero;
	margin: $margin-zero;
}
.style-labels-secondary {
	opacity: 1;
	font-family: $font-secondary;
	font-size: 1rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
//styles for character sheet elements: style-cs-*
.style-cs-chars-label {
	opacity: 1;
	font-family: $font-title;
	font-size: 1.6rem;
	font-weight: bold;
	color: $c-black;
	text-transform: uppercase;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
.style-cs-stats-label {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1.6rem;
	color: $c-black;
	text-transform: uppercase;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
.style-cs-labels {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
.style-cs-chars-value {
	opacity: 1;
	font-family: $font-primary;
	font-size: 1.6rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
.style-cs-stats-value {
	opacity: 1;
	font-family: $font-primary;
	font-size: 2.4rem;
	color: $c-black;
	font-weight: bold;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
.style-cs-values {
	opacity: 1;
	font-family: $font-primary;
	font-size: 0.8rem;
	color: $c-black;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
.style-cs-buffs {
	opacity: 1;
	font-family: $font-primary;
	font-size: 0.8rem;
	color: $c-green;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-md;
	margin: $margin-zero;
}
.style-cs-conditions {
	opacity: 1;
	font-family: $font-primary;
	font-size: 0.8rem;
	color: $c-red;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-md;
	margin: $margin-zero;
}
.style-cs-positive {
	opacity: 1;
	font-family: $font-primary;
	color: $c-green;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
.style-cs-negative {
	opacity: 1;
	font-family: $font-primary;
	color: $c-red;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: $padding-sm;
	margin: $margin-sm;
}
.meta-cover-roll {
	&:hover {
		cursor: url(../artwork/metanthropes-dice-roll-activated.webp), pointer;
		color: $c-purple;
		text-shadow: $s-outline;
	}
}
.style-cs-rolls {
	opacity: 1;
	font-family: $font-primary;
	font-size: 2.4rem;
	color: $c-black;
	font-weight: bold;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	align-content: center;
	padding: $padding-md;
	margin: $margin-md;
	&:hover {
		cursor: url(../artwork/metanthropes-dice-roll-activated.webp), pointer;
		color: $c-purple;
		text-shadow: $s-outline;
	}
	//	&:focus {
	//		cursor: url(../artwork/metanthropes-dice-roll-small-activated.webp), pointer;
	//		color: $c-purple;
	//		text-shadow: $s-outline;
	//	}
}
.style-cs-rolls-single-column {
	opacity: 1;
	font-family: $font-primary;
	font-size: 2rem;
	color: $c-black;
	font-weight: bold;
	justify-content: center;
	justify-self: center;
	align-items: center;
	align-self: center;
	align-content: center;
	padding: $padding-zero;
	margin: $margin-zero;
	&:hover {
		cursor: url(../artwork/metanthropes-dice-roll-activated.webp), pointer;
		color: $c-purple;
		text-shadow: $s-outline;
	}
}
.style-mp-rolls {
	opacity: 1;
	font-family: $font-primary;
	font-size: 14px;
	color: $c-black;
	justify-items: center;
	align-self: center;
	text-align: center;
	padding: $padding-zero;
	margin: $margin-zero;
	&:hover {
		cursor: url(../artwork/metanthropes-dice-roll-activated.webp), pointer;
		color: $c-purple;
		text-shadow: $s-outline;
	}
	//	&:focus {
	//		cursor: url(../artwork/metanthropes-dice-roll-small-activated.webp), pointer;
	//		color: $c-purple;
	//		text-shadow: $s-outline;
	//	}
}
.style-pos-rolls {
	opacity: 1;
	font-family: $font-primary;
	font-size: 14px;
	color: $c-black;
	justify-items: center;
	align-self: center;
	text-align: center;
	padding: $padding-zero;
	margin: $margin-zero;
	&:hover {
		cursor: url(../artwork/metanthropes-dice-roll-activated.webp), pointer;
		color: $c-purple;
		text-shadow: $s-outline;
	}
	//	&:focus {
	//		cursor: url(../artwork/metanthropes-dice-roll-small-activated.webp), pointer;
	//		color: $c-purple;
	//		text-shadow: $s-outline;
	//	}
}
.style-view-properties {
	&:hover {
		cursor: help;
		color: $c-purple;
		text-shadow: $s-outline;
	}
}

.style-editor {
	opacity: 1;
	font-family: $font-secondary;
	font-size: 1rem;
	color: $c-black;
	padding: $padding-md;
	margin: $margin-md;
	min-height: 70px;
	height: auto;
	max-height: 800px;
	overflow-y: auto;
}
.editor-content {
	min-height: 50px;
}
.style-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.style-tab-header-logo {
	max-height: 85px;
	width: auto;
	object-fit: contain;
	border: none;
	scale: 1;
	border-radius: 50%;
}

.style-tab-header-portrait {
	max-height: 85px;
	width: auto;
	object-fit: contain;
	border: none;
	border-radius: 15px;
}

.style-tab-summary-portrait {
	max-height: 300px;
	width: auto;
	object-fit: contain;
	border: none;
	border-radius: 15px;
	transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) 0.3s;
	&:hover {
		transform: scale(2);
	}
}

.style-dialog-portrait {
	max-height: 300px;
	width: auto;
	object-fit: contain;
	border: none;
	border-radius: 15px;
}

