@use "../settings" as *;
//* Consolidated Theme Selections

//* Dark Theme */
.theme-dark,
body.theme-dark,
body.theme-dark .application,
.application.theme-dark,
.application.metanthropes.themed.theme-dark {
	--metanthropes-chat-bg: url("../assets/artwork/ui/chat/chat-bw-dark.webp");
	--sidebar-background: url("../systems/metanthropes/assets/artwork/ui/sidebar/sidebar-dark.png");
	//--tjs-app-background: url("../systems/metanthropes/assets/artwork/ui/app/app-colored-dark.png");
	--background: url("../systems/metanthropes/assets/artwork/ui/app/app-image-dark.png") repeat;
	--metanthropes-color-primary: #{$c-dark-purple};
	--metanthropes-color-secondary: #{$c-main-purple};
	--metanthropes-color-highlight: #{$c-dark-highlight};
	--metanthropes-color-text: #{$c-light-font};
	--metanthropes-color-text-shadow: #{$c-light-purple};
	--metanthropes-color-disabled: #{$c-light-gold};
	--metanthropes-color-background: #{$c-light-purple};
	//* Foundry Overrides
	--color-text-primary: #{$c-light-font};
	--color-fieldset-border: #{$c-dark-highlight};
	--button-background-color: rgba(0 0 0 / 10%);
	--button-border-color: var(--color-dark-5);
	--button-text-color: var(--color-dark-1);
	--button-focus-outline-color: var(--color-warm-2);
	--button-hover-background-color: var(--color-warm-2);
	--button-hover-text-color: var(--color-light-1);
	//* from old root file
	accent-color: var(--metanthropes-color-highlight);
	caret-color: var(--metanthropes-color-highlight);
	--color-scrollbar: var(--metanthropes-color-highlight);
	--input-focus-outline-color: var(--metanthropes-color-highlight);
	--color-shadow-primary: var(--metanthropes-color-disabled);
	--color-shadow-highlight: var(--metanthropes-text-shadow);
	--outline-color: var(--metanthropes-color-highlight);
	--color-warm-1: var(--metanthropes-color-highlight);
	outline-color: var(--metanthropes-color-highlight);
	--background-journal-image: url("../assets/artwork/ui/window/background.webp");
	//!--background: url("../systems/metanthropes/assets/artwork/ui/app/app-colored-light.png");
	//--metanthropes-chat-bg: url("../assets/artwork/ui/chat/chat-bw-light.webp");
}

//* Light Theme */
.theme-light,
body.theme-light,
body.theme-light .application,
.application.theme-light,
.application.metanthropes.themed.theme-light {
	--metanthropes-chat-bg: url("../assets/artwork/ui/chat/chat-bw-light.webp");
	--sidebar-background: url("../systems/metanthropes/assets/artwork/ui/sidebar/sidebar-light.png");
	//--tjs-app-background: url("../systems/metanthropes/assets/artwork/ui/app/app-colored-light.png");
	--background: url("../systems/metanthropes/assets/artwork/ui/app/app-image-light.png") repeat;
	--metanthropes-color-primary: #{$c-dark-blue};
	--metanthropes-color-secondary: #{$c-main-blue};
	--metanthropes-color-highlight: #{$c-light-highlight};
	--metanthropes-color-text: #{$c-light-font};
	--metanthropes-color-text-shadow: #{$c-light-blue};
	--color-text-primary: #{$c-dark-font};
	--metanthropes-color-disabled: #{$c-dark-gold};
	--metanthropes-color-background: #{$c-light-blue};
	//* Foundry Overrides
	--color-text-primary: #{$c-light-font};
	--color-fieldset-border: #{$c-light-highlight};
	--button-background-color: rgba(0 0 0 / 10%);
	--button-border-color: var(--color-dark-5);
	--button-text-color: var(--color-dark-1);
	--button-focus-outline-color: var(--color-warm-2);
	--button-hover-background-color: var(--color-warm-2);
	--button-hover-text-color: var(--color-light-1);
	//* from old root file (same as above)
	accent-color: var(--metanthropes-color-highlight);
	caret-color: var(--metanthropes-color-highlight);
	--color-scrollbar: var(--metanthropes-color-highlight);
	--input-focus-outline-color: var(--metanthropes-color-highlight);
	--color-shadow-primary: var(--metanthropes-color-disabled);
	--color-shadow-highlight: var(--metanthropes-text-shadow);
	--outline-color: var(--metanthropes-color-highlight);
	--color-warm-1: var(--metanthropes-color-highlight);
	outline-color: var(--metanthropes-color-highlight);
	--background-journal-image: url("../assets/artwork/ui/window/background.webp");
	//! --background: url("../systems/metanthropes/assets/artwork/ui/app/app-colored-light.png");
	//--metanthropes-chat-bg: url("../assets/artwork/ui/chat/chat-bw-light.webp");
}
