<nav class="style-container-nav-children csnavselector tabs" data-group="cs">
	<button class="meta-ui-responsive meta-ui-hide-at-minimum" data-tab="cs-summary">
		<span data-tooltip="Summary"><i class="fa-sharp-duotone fa-solid fa-id-card"></i></span>
		<span class="meta-ui-responsive meta-ui-hide-at-medium">Summary</span>
	</button>
	{{#if actor.hasCharacteristics}}
		<button data-tab="cs-charstats">
			<span data-tooltip="Stats"><i class="fa-sharp-duotone fa-solid fa-chart-simple"></i></span>
			<span class="meta-ui-responsive meta-ui-hide-at-medium">Stats</span>
		</button>
	{{/if}}
	{{#if actor.hasPerks}}
		<button class="meta-ui-responsive meta-ui-hide-at-minimum" data-tab="cs-perks">
			<span data-tooltip="Perks"><i class="fa-sharp-duotone fa-solid fa-books"></i></span>
			<span class="meta-ui-responsive meta-ui-hide-at-medium">Perks</span>
		</button>
	{{/if}}
	{{#if actor.hasEnterMeta}}
		<button data-tab="cs-metapowers">
			<span data-tooltip="Metapowers"><i class="fa-kit fa-metanthropes"></i></span>
			<span class="meta-ui-responsive meta-ui-hide-at-medium">Metapowers</span>
		</button>
		<button data-tab="cs-combos">
			<span data-tooltip="Combos">🔗</span>
			<span class="meta-ui-responsive meta-ui-hide-at-medium">Combos</span>
		</button>
	{{/if}}
	{{#if actor.hasPossessions}}
		<button data-tab="cs-possessions">
			<span data-tooltip="Possessions"><i class="fa-sharp-duotone fa-solid fa-backpack"></i></span>
			<span class="meta-ui-responsive meta-ui-hide-at-medium">Possessions</span>
		</button>
	{{/if}}
	<button class="meta-ui-responsive meta-ui-hide-at-minimum" data-tab="cs-active-effects">
		<span data-tooltip="Effects"><i class="fa-sharp-duotone fa-solid fa-person-rays"></i></span>
		<span class="meta-ui-responsive meta-ui-hide-at-medium">Effects</span>
	</button>
</nav>