<form class="metanthropes actor-sheet {{cssClass}}" autocomplete="off">
	<header class="layout-container-big">
		<div class="style-container-grid3x4-children">
			<h4><input name="name" type="text" value="{{actor.name}}" placeholder="A Protagonist"></h4>
			<h5><input name="" type="text" value="" placeholder="">Background</h5>
			<h5><input name="" type="text" value="" placeholder="">Metamorphosis</h5>
			<h5><input name="" type="text" value="" placeholder="">Arc</h5>
			<h5><input name="" type="text" value="" placeholder="">Regression</h5>
		</div>
		<div class="style-container-grid3x4-children">
				<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
				<h5><input name="" type="text" value="" placeholder="">Prime</h5>
				<h5><input name="" type="text" value="" placeholder="">Coalition</h5>
				<h5><input name="" type="text" value="" placeholder="">Sagas</h5>
		</div>
		<div class="style-container-grid3x4-children">
			<span>
				<h4><input name="" type="" value="">Life &#128512; </h4>
				<h4><input name="" type="" value="">Destiny</h4>
				<h4><input name="" type="" value="">Experience</h4>
			</span>
		</div>
	</header>
	<body>
		<nav>
			<!-- look into actor-sheet.mjs -->
			<a>Characteristics & Stats</a>
			<a>Perks</a>
			<a>Metapowers</a>
			<a>&#128512;</a>
			<a>Possessions</a>
			<a>Notes</a>
		</nav>
		<main class="layout-container-grid3x4">
			<div class="style-container-grid3x4-children">
				<p> BODY </p>
			</div>
			<aside>
				<div class="style-container-grid3x4-children">
					<p> MIND </p>
				</div>
			</aside>
			<aside>
				<div class="style-container-grid3x4-children">
					<p> SOUL </p>
				</div>
			</aside>
			<div class="style-container-grid3x4-children">
				<p> ENDURANCE </p>
			</div>
			<aside>
				<div class="style-container-grid3x4-children">
					<p> PERCEPTION </p>
				</div>
			</aside>
			<aside>
				<div class="style-container-grid3x4-children">
					<p> WILLPOWER </p>
				</div>
			</aside>
			<div class="style-container-grid3x4-children">
				<p> POWER </p>
			</div>
			<aside>
				<div class="style-container-grid3x4-children">
					<p> MANIPULATION </p>
				</div>
			</aside>
			<aside>
				<div class="style-container-grid3x4-children">
					<p> CONSCIOUSNESS </p>
				</div>
			</aside>
			<div class="style-container-grid3x4-children">
				<p> REFLEXES </p>
			</div>
			<aside>
				<div class="style-container-grid3x4-children">
					<p> CREATIVITY </p>
				</div>
			</aside>
			<aside>
				<div class="style-container-grid3x4-children">
					<p> AWARENESS </p>
				</div>
			</aside>
		</main>
	</body>
	<footer class="layout-container-med">
		<span class="style-container-med-children">
			<div>
				<h4><input name="" type="text" value="" placeholder="">Movement</h4>
				<h5><input name="" type="text" value="" placeholder="">Speed</h5>
				<h5><input name="" type="text" value="" placeholder="">Weight</h5>
				<h5><input name="" type="text" value="" placeholder="">Size</h5>
			</div>
			<div>
				<h4><input name="" type="text" value="" placeholder="">Resistances</h4>
				<h5><input name="" type="text" value="" placeholder="">Cosmic</h5>
				<h5><input name="" type="text" value="" placeholder="">Elemental</h5>
				<h5><input name="" type="text" value="" placeholder="">Material</h5>
				<h5><input name="" type="text" value="" placeholder="">Psychic</h5>
			</div>
			<div>
				<h4><input name="" type="text" value="" placeholder="">Immunities</h4>
				<h4><input name="" type="text" value="" placeholder="">Detections</h4>
				<h4><input name="" type="text" value="" placeholder="">Shifts</h4>
				<h4><input name="" type="text" value="" placeholder="">Cover</h4>
			</div>
		</span>
	</footer>
</form>