<form class="metanthropes actor-sheet {{cssClass}}" autocomplete="off">
	<header class="layout-container-big">
		<div class="style-container-grid3x4-children">
			<h1><input name="name" type="text" value="{{actor.name}}" placeholder="A Protagonist"></h1>
			<aside>
				<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
				<h3><input name="" type="text" value="" placeholder="">Prime</h3>
				<h3><input name="" type="text" value="" placeholder="">Coalition</h3>
				<h3><input name="" type="text" value="" placeholder="">Sagas</h3>
			</aside>
			<h5><input name="" type="text" value="" placeholder="">Background</h5>
			<h5><input name="" type="text" value="" placeholder="">Metamorphosis</h5>
			<h5><input name="" type="text" value="" placeholder="">Arc</h5>
			<h5><input name="" type="text" value="" placeholder="">Regression</h5>
		</div>
		<div>
			<span>
				<h3><input name="" type="" value="">Life &#128512; </h3>
				<h3><input name="" type="" value="">Destiny</h3>
				<h3><input name="" type="" value="">Experience</h3>
			</span>
		</div>
	</header>
	<body>
		<nav>
			<!-- look into actor-sheet.mjs -->
			<a>Characteristics & Stats</a>
			<a>Perks</a>
			<a>Metapowers</a>
			<a>&#128512;</a>
			<a>Possessions</a>
			<a>Notes</a>
		</nav>
		<main class="layout-container-grid3x4">
			<div class="style-container-grid3x4-children">
				<p> under this one &#128512; Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ipsa est
					excepturi incidunt dicta nihil quaerat provident, voluptates iste autem, recusandae necessitatibus
					ducimus labore tenetur, sit vitae a eligendi quas?</p>
			</div>
			<aside>
				<div class="style-container-grid3x4-children">
					<p> &#128512; Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ipsa est excepturi
						incidunt dicta nihil quaerat provident, voluptates iste autem, recusandae necessitatibus ducimus
						labore tenetur, sit vitae a eligendi quas?</p>
				</div>
			</aside>
			<aside>
				<div class="style-container-grid3x4-children">
					<p>&#128512;Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ipsa est excepturi
						incidunt dicta nihil quaerat provident, voluptates iste autem, recusandae necessitatibus ducimus
						labore tenetur, sit vitae a eligendi quas?</p>
				</div>
			</aside>
			<div class="style-container-grid3x4-children">
				<p> thjis should be 4th</p>
			</div>
			<aside>
				<div class="style-container-grid3x4-children">
					<p>5th</p>
				</div>
			</aside>
			<aside>
				<div class="style-container-grid3x4-children">
					<p>6th</p>
				</div>
			</aside>
			<div class="style-container-grid3x4-children">
				<p> thjis should be 7th under 4th</p>
			</div>
			<aside>
				<div class="style-container-grid3x4-children">
					<p>8th</p>
				</div>
			</aside>
			<aside>
				<div class="style-container-grid3x4-children">
					<p>10th under 7th</p>
				</div>
			</aside>
			<div class="style-container-grid3x4-children">
				<p> thjis should be 7th</p>
			</div>
			<aside>
				<div class="style-container-grid3x4-children">
					<p>11th</p>
				</div>
			</aside>
			<aside>
				<div class="style-container-grid3x4-children">
					<p>12th</p>
				</div>
			</aside>
		</main>
	</body>
	<footer class="layout-container-med">
		<span class="style-container-med-children">
			<div>
				<h4><input name="" type="text" value="" placeholder="">Movement</h4>
				<h5><input name="" type="text" value="" placeholder="">Speed</h5>
				<h5><input name="" type="text" value="" placeholder="">Weight</h5>
				<h5><input name="" type="text" value="" placeholder="">Size</h5>
			</div>
			<div>
				<h4><input name="" type="text" value="" placeholder="">Resistances</h4>
				<h5><input name="" type="text" value="" placeholder="">Cosmic</h5>
				<h5><input name="" type="text" value="" placeholder="">Elemental</h5>
				<h5><input name="" type="text" value="" placeholder="">Material</h5>
				<h5><input name="" type="text" value="" placeholder="">Psychic</h5>
			</div>
			<div>
				<h4><input name="" type="text" value="" placeholder="">Immunities</h4>
				<h4><input name="" type="text" value="" placeholder="">Detections</h4>
				<h4><input name="" type="text" value="" placeholder="">Shifts</h4>
				<h5><input name="" type="text" value="" placeholder="">Cover</h5>
			</div>
		</span>
	</footer>
</form>